body
{
    text-align: center;
}
.container{
  background-color: mediumaquamarine;  
}
#app {
    background:linear-gradient(#820052 0%, #a696ff 100%) ;
}

#myCarousel
{
    background:linear-gradient(#00bbff 0%, #005eff 100%);
}

#myCarousel img
{
    height: 300px;
    margin-top: 35px;
}

.carousel-inner p
{
    margin-top: 15px;
    color : white;
    font-size: 20px;
}
